<li class="list-group-item">
	<div class="row">
	<div class="col">
        <span style="font-weight:normal;">Burger Name: </span>{{burger_name}}
	</div>
</div>
	<div class="row">
	<div class="col-6">
	<button class="btn btn-primary change-eat" data-id="{{id}}" data-neweat="{{devour}}"><span><i class="fa fa-cutlery"></i></span>
		{{#if devour}}Eat this!{{else}}Make more!{{/if}}
	</button></div>
	<div class="col">

	<button class="btn btn-light delete-burger" data-id="{{this.id}}"><i class="fa fa-minus-circle"></i> Delete</button>
</div></div></li>


