<li>
	{{burger_name}}

	<button class="change-eat" data-id="{{id}}" data-neweat="{{devour}}">
		{{#if devour}}EAT TIME!{{else}}DON'T EAT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
